html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.banner-content {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  max-width: 45rem;
  width: 100%;
}

.circle {
  float: left;
  width: 40%;
}

.ultra {
  float: right;
  width: 50%;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  max-width: 20rem;
}

p {
  max-width: 30rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

/* Button Style */

a {
  text-decoration: none;
}

.btn {
  background-color: #333;
  border-radius: 8px;
  color: #fff;
  display: inline;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
  padding: 0.6em 0.75em 0.4em;
}

.btn:hover {
  background-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}
